/* css for whole page*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    border-color: #38eeff;
}

input[type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    border-color: #38eeff;
}

a:link{
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    text-decoration: none;
}

a:visited {
    color:lightblue;
}

body {
    font-family: audiowide, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faeb2c;
    overflow-x: hidden;
    font-size: 16px;
}
fieldset {
    border-radius: 30px;
    border: skyblue solid 5px
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/*end of whole page*/


/*css for home page*/

h1 {
    text-align: center;
}

.home-row {
    width: 100%;
    display: flex;
    border-top: 2px solid hotpink;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid hotpink;
}

.cards {
    width: 25em;
    border-radius: 10px;
    margin: 2em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #e900ff;
    z-index: 1;
    box-shadow: .3em 0 .3em black;
}

.cards:hover {
    background-color: rgba(100, 43, 88, 0.5);
}



.centered {
    text-align: center;
}


.images {
    width: 25em;
    margin: 2em;
}

/*end of home page*/


/*css for nav bar*/


.nav{
    display: flex;
    justify-content: space-around;
    box-shadow: 1em 0 1em black; 
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    text-shadow: #38eeff;
}

.link2 {
    border: 2px solid;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    padding-top: 30px;
    

    
}
.link2:hover {
    box-shadow: 2px 2px 50px 2px lightblue;
    
}
.logOut{
    color: red;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #e70a0a, 0 0 50px #e70a0a;
    text-decoration: none;
    padding-top: 30px;
    border: 2px solid red;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.logOut:hover {
    box-shadow: 2px 2px 50px 2px red;
    cursor: pointer;
}

/*end of nav bar*/

/*beginning of login*/

.formLogIn {

    color: darkblue;
    background-color: #e900ff;
   
}
.login-btn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;

}

/* END OF LOGIN*/

/*START OF REGISTER*/


.formRegister  {
    
    background-color: #e900ff;
    color: darkblue;
    
}
.register-btn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}

/*END OF REGISTER*/

/*error page*/

iframe 
{
    display: block; 
    width: 100%; 
    border: none; 
    overflow-y: auto; 
    overflow-x: hidden;
}

/*error page end*/

/*activities page*/
.activity-legend {
    text-align: center;
    
}
.create-button {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}

.create-activity {
    background-color: #e900ff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.activities {
    background-color: #e900ff;
    border-radius: 10px;
    
    
}

.activity-row {
    width: 49%; 
    display: inline-block;
    justify-content: center;
    flex-grow: 1;
    
}

/*end of activities page*/ 


/*routines page*/

.routine{
    background-color: #e900ff;
    border: solid 5px #38eeff;
    border-radius: 15px;
    
}
.routines {
    background-color: #f096f8;
    border: solid blue 3px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.formAddRoutine {
    background-color: #e900ff;
    border-radius: 10px;
} 

.routine-box {
    background-color: #e900ff;
}
.routineBtn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
    
}
.btnAddRoutine {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}
.submitActivityBtn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}
.addActivityBtn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}
.editActivityBtn {
    text-align: center;
    font-size: 14px;
    font-family: audiowide;
    cursor: pointer;
    padding: 5px;
}

/*end of routines page*/



  /* footer */
  .footer {
      text-align: center;
      padding-bottom: 15px;

      
  }
  /* end of footer */

  


  
/*TOGGLE EDIT ACTIVITY*/
.hidden{
    display:none;
}