*{
    background-color:rgb(195, 195, 198) ;
    align-content: center;
    
    
}
.link{
    background-color: aliceblue;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    height:auto;
}
#searchBar{
    display:flex;
    justify-content:space-evenly;
    width: 100%;

}
#deleted{
    background-color: pink;
}
#postForm{
    display:flex;
    justify-content:space-evenly;
}
#footer{
    display:flex;
    align-items:flex-end;
}
#active{
    background-color: aquamarine;
}
#receivedMsg{
    background-color: rgb(127, 238, 255);
}
#sentMsg{
    background-color: rgb(127, 163, 255);
}