/* css for whole page*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    
}

a:link{
    color: white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
    text-decoration: none;
}

a:visited {
    color:lightblue;
}


body {
    font-family: audiowide, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #faeb2c;
    overflow-x: hidden;
    font-size: 16px;
}
fieldset {
    border-radius: 30px;
    border: skyblue solid 5px
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/*end of whole page*/


/*css for home page*/

h1 {
    text-align: center;
}

.home-row {
    width: 100%;
    display: flex;
    border-top: 2px solid hotpink;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid hotpink;
}

.cards {
    width: 25em;
    border-radius: 10px;
    margin: 2em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #e900ff;
    z-index: 1;
    box-shadow: .3em 0 .3em black;
}

.cards:hover {
    background-color: rgb(125, 250, 208, 0.5);
}



.centered {
    text-align: center;
}


.images {
    width: 25em;
    margin: 2em;
}

/*end of home page*/


/*css for nav bar*/


.nav{
    display: flex;
    justify-content: space-around;
    box-shadow: 1em 0 1em black; 
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    text-shadow: #38eeff;
}

.link2 {
    border:0cm 2px solid;
    padding: 20px;
    text-align: center;
    padding-top: 30px;
    
}
.link2:hover {
    box-shadow: .5em 0 .5em lightblue;
}
.logOut{
color: red;
text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #e70a0a, 0 0 50px #e70a0a;
text-decoration: none;
}

/*end of nav bar*/

/*beginning of login*/

.formLogIn {
    background-color: azure;
}

.formLogIn * {
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

/* END OF LOGIN*/

/*START OF REGISTER*/
.formRegister {
    background-color: azure;
}

.formRegister * {
    display: flex-wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

/*END OF REGISTER*/

/*error page*/

iframe 
{
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}

/*error page end*/

/*activities page*/

.create-activity {
    background-color: #e900ff;
}
.activities {
    background-color: #e900ff;
    border-radius: 10px;
    /* display: flex;
    flex-wrap: nowrap; */
}

.activity-row {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

/*end of activities page*/ 


/*routines page*/

.routines {
    background-color: #e900ff;
    border-radius: 10px;
}

/*end of routines page*/



  /* footer */
  .footer {
      text-align: center;
      padding-bottom: 15px;
  }
  /* end of footer */

  


  
